/* 스킵 메뉴 */
#skip {
    position: relative;
    z-index: 10000;
}
#skip a {
    color: #fff;
    background-color: #000;
    padding: 20px;
    position: absolute;
    left: 0;
    top: -80px;
}
#skip a:active,
#skip a:focus {
    top: 0;
}