<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>site B</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        
    </style>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="header__inner container">
                <h1>로고</h1>
                <nav>메뉴</nav>
            </div>
        </header>
        <main id="main">
            <article class="slider"></article>
            <div class="content">
                <div class="notic"></div>
                <div class="img"></div>
                <div class="link"></div>
            </div>
        </main>
        <footer id="footer">
            <div class="footer__inner container">

            </div>
        </footer>
    </div>
</body>
</html>