/* common */
* {
    margin: 0;
    padding: 0;
    cursor: url(../img/cursor.png), auto;
    font-family: 'DotGothic16', sans-serif;
    color: #333;
}
#wrap {
    width: 100%;
    height: 100vh;
    position: relative;
}
.bg01 {
    background-image: url(../img/bg01.webp);
    background-size: cover;
    background-position: center center;
}
.blind {
    display: none;
}

/* popup__start */
.popup {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    z-index: 1000;
}
.popup__start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.popup__start .title {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 500px;
    height: 250px;
    background-color: #D54B00;
    font-weight: bold;
    padding: 5px 10px;
    box-sizing: border-box;

    border-top: 5px solid #FFC3B8;
    border-left: 5px solid #FFC3B8;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;

    text-shadow: 5px 8px 3px #0B0300;
}
.popup__start .title .tt::after {
    position: absolute;
    content: '';
    left: 10px;
    top: 10px;
    width: 5px;
    height: 5px;
    background-color: #FFC3B8;
    box-shadow: 2px 2px 2px #0B0300;
}
.popup__start .title .tt::before {
    position: absolute;
    content: '';
    right: 10px;
    top: 10px;
    width: 5px;
    height: 5px;
    background-color: #FFC3B8;
    box-shadow: 2px 2px 2px #0B0300;
}
.popup__start .title .bb::after {
    position: absolute;
    content: '';
    left: 10px;
    bottom: 10px;
    width: 5px;
    height: 5px;
    background-color: #FFC3B8;
    box-shadow: 2px 2px 2px #0B0300;
}
.popup__start .title .bb::before {
    position: absolute;
    content: '';
    right: 10px;
    bottom: 10px;
    width: 5px;
    height: 5px;
    background-color: #FFC3B8;
    box-shadow: 2px 2px 2px #0B0300;
}
.popup__start .title p {
    font-size: 4.5rem;
    font-family: 'Super Mario 256', sans-serif;
}
.popup__start .title em {
    font-size: 4.5rem;
    color: #FFC3B8;
    font-family: 'Super Mario 256', sans-serif;
}
.popup__start > p {
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFC3B8;
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
}
.popup__start .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popup__start .btn p,
.popup__start .btn span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.2rem;
    position: relative;
}
.popup__start .btn p:hover::after{
    content: '🍄';
    position: absolute;
    left: -40px;
}
.popup__start .btn p:nth-child(2){
    margin-bottom: 0.5rem;
}

/* topText */
.topText {
    width: 100%;
    padding: 30px 30px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.topText .topText__left {
    display: flex;
}
.topText .topText__left .left1 {
    text-align: left;
    margin-right: 1rem;
    
}
.topText .topText__left .left1 p,
.topText .topText__left .left1 span {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}
.topText .topText__left .left2 {
    display: flex;
    align-items: end;
}
.topText .topText__left .left2 img {
    width: 1rem;
    margin-right: 0.3rem;
    margin-bottom: 0.1rem;
}
.topText .topText__left .left2 p,
.topText .topText__left .left2 em {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}

.topText .topText__right {
    display: flex;
}
.topText .topText__right .right1 {
    margin-right: 1rem;
    text-align: center;
}
.topText .topText__right .right1 p,
.topText .topText__right .right1 span {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}
.topText .topText__right .right2 {
    text-align: right;
}
.topText .topText__right .right2 p,
.topText .topText__right .right2 span {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}


/* icon */
.icon__menu {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.music img {
    width: 48px;
    height: 48px;
}

.iconInner {
    position: relative;
}
.iconInner a {
    display: block;
    width: 48px;
    height: 48px;
    position: relative;
    z-index: 2;
}
.iconInner .coin {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.iconInner .coin > img {
    scale: 50%;
}
.iconInner:hover a > img{
    animation: box 0.5s ease-in;
}
.iconInner:hover .coin {
    animation: coin 1s ease-in;
}

@keyframes box {
    0% {transform: rotate(0deg) translateY(0px);}
    25% {transform: rotate(3deg) translateY(-30px);}
    50% {transform: rotate(0deg) translateY(-70px);}
    75% {transform: rotate(-3deg) translateY(30px);}
    100% {transform: rotate(0deg) translateY(0px);}
}
@keyframes coin {
    0% {transform: translateY(0px);}
    25% {transform: translateY(-70px);}
    50% {transform: translateY(-90px);}
    75% {transform: translateY(5px);}
    100% {transform: translateY(0px);}
}

/* musicWrap */
#musicWrap {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 350px;
    height: 500px;
    padding: 20px 10px 10px;
    border-right: 3px solid #1c1c1c;
    border-bottom: 3px solid #1c1c1c;
    background-color: #D9D9D9;
    box-sizing: border-box;
} 
.music__inner {
    Border-style: groove;
}
.music__header {
    width: 100%;
    height: 30px;
    text-align: center;
    position: relative;
}
.music__header h2 {
    font-size: 1rem;
    font-weight: bold;
}
.music__header .close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    line-height: 12px;
    border-style: groove;
    color: #000;
}
.music__header .close:hover {
    background-color: #bababa;
}
.music__contents .music__view {
    width: 100%;
    background-color: #D9D9D9;
    border: 3px solid #000;
    padding: 3px;
    margin-bottom: 3px;
    box-sizing: border-box;
}
.music__contents .music__view img {
    width: 100%;
    vertical-align: top;
}
.music__contents .music__control {
    width: 100%;
    max-height: 80px;
    background-color: #dfdfdf;
    display: flex;
    flex-wrap: wrap;
    border-style: groove;
    box-sizing: border-box;
}
.music__contents .music__control .bar {
    width: 100%;
    height: 32.5px;
    background-color: #8d8d8d;
    display: inline-block;
    border-style: groove;
    border: 2px solid #000;
    box-sizing: border-box;

}
.music__contents .music__control .btn {
    display: flex;
    width: 100%;
}
.music__contents .music__control .left,
.music__contents .music__control .play,
.music__contents .music__control .stop,
.music__contents .music__control .right {
    width: 33.333%;
    height: 32.5px;
    text-align: center;
    line-height: 32.5px;
    border: 1px solid rgba(0,0,0,.15);
}
.music__contents .music__control .left:hover,
.music__contents .music__control .play:hover,
.music__contents .music__control .stop:hover,
.music__contents .music__control .right:hover {
    background-color: #bababa;
}
.music__contents .music__list {
    border-style: groove;
}
.music__contents .music__list h3 {
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.music__contents .music__list ul {
    width: 100%;
    height: 140px;
    overflow: auto;
    border-style: groove;
    border: 3px solid #000;
    position: relative;

}
.music__contents .music__list ul li {
    line-height: 24px;
    padding-bottom: 3px;
    box-sizing: border-box;
}
.music__contents .music__list ul li:hover {
    background-color: #bababa;
}
.music__contents .music__list ul li.active {
    background-color: #333;
    color: white;
}