@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 900;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.ttf") format("truetype");
    font-display: swap;
} 

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "nanumSquareNeo";
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}

body {
    position: relative;
    background-color: #b0e0d1;
}

/* common */
.none {
    display: none !important;
}

/* header */
#header {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header h1 a {
    display: inline-block;
    padding: 20px;
    margin-top: 50px;
}
#header h1 a img {
    width: 260px;
}

/* main */
/* #main {
    min-height: 85vh;
} */

/* quiz__wrap */
.quiz__wrap {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin-top: 30px;
}
.quiz__wrap > .quiz {
    width: 500px;
    height: 650px;
    min-height: 400px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.quiz__wrap > .quiz.good {
    position: relative;
}
.quiz__wrap > .quiz.good::before {
    content: '';
    width: 400px;
    height: 400px;
    border: 30px solid rgba(255, 0, 0, 1);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.quiz__wrap > .quiz.bad {
    position: relative;
}
.quiz__wrap > .quiz.bad::before {
    content: '';
    width: 400px;
    height: 20px;
    background-color: rgba(255, 0, 0, 1);
    position: absolute;
    left: calc(50% - 200px);
    top: 50%;
    border-radius: 30px;
    transform: rotate(45deg);
    z-index: 100;
}
.quiz__wrap > .quiz.bad::after {
    content: '';
    width: 400px;
    height: 20px;
    background-color: rgba(255, 0, 0, 1);
    position: absolute;
    left: calc(50% - 200px);
    top: 50%;
    border-radius: 30px;
    transform: rotate(-45deg);
    z-index: 100;
}
.quiz img {
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
}
/* .quiz__header {
    margin-bottom: 20px;
    color: #696969;
} */
.quiz__question {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    /* z-index: 1; */
}
.quiz__question em {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.quiz__question span {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
}
.quiz__img {
    margin-bottom: 10px;
}
.quiz__img img {
    width: 100%;
    border: 1px solid #eee;
}
.quiz__choice .choice {
    border: 1px solid #eee;
    padding: 17px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.5;
    transition: border-color 0.3s, background-color 0.3s;
    border-radius: 3px;
    color: #666;
}
.quiz__choice .choice:hover {
    border-color: #123;
    background-color: rgba(83, 163, 244, 0.169);
    cursor: pointer;
}
.quiz__choice .choice.correct {
    position: relative;
    border-color: #123;
    background-color: rgba(83, 163, 244, 0.169);
    color: #123;
    padding-right: 57px;
}
.quiz__choice .choice.correct::after {
    content: '';
    width: 14px;
    height: 14px;
    border: 6px solid #123;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.quiz__choice .choice.incorrect {
    position: relative;
    border-color: rgb(248, 93, 93);
    background-color: rgba(244, 83, 83, 0.132);
    color: rgb(238, 82, 100);
    padding-right: 57px;
}
.quiz__choice .choice.incorrect::before {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 6px;
    background-color: red;
    border-radius: 4px;
    transform: rotate(45deg);
    margin-top: -3px;
}
.quiz__choice .choice.incorrect::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 6px;
    background-color: red;
    border-radius: 4px;
    transform: rotate(-45deg);
    margin-top: -3px;
}
/* .quiz__animation {
    border: 1px solid #b8a8ff;
    margin-bottom: 10px;
} */
/* .quiz__input {
    width: 450px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    bottom: 0;
} */
.quiz__input input:focus {
    outline: none;
}
.quiz__input input {
    width: 450px;
    height: 80px;
    padding: 20px;
    position: absolute;
    bottom: 155px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    border: 0;
    box-shadow: 5px 5px 5px #00000020;
    color: #319073;
    font-weight: 600;
    /* z-index: 10000; */
}
.quiz__answer {
    background-color: #fff;
    border: 1px solid #206e56;
    padding: 20px;
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: center;
    color: #000;
}
.quiz__answer::before {
    content: "ⓘ 정답 : ";
}
.quiz__confirm {
    background-color: #319073;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: block;
    border: 0;
    width: 75px;
    border-radius: 20px;
    transition: all 0.3s; 
    border: 1px solid #206a53;
    height: 75px;
    position: absolute;
    bottom: 157px;
    right: 50%;
    transform: translateX(222px);
    z-index: 1000;
}
.quiz__confirm:hover {
    border: 1px solid #206a53;
    background-color: #52b998;
    color: #fff;
    cursor: pointer;
}
.start {
    margin-top: 50px;
    height: 25px;
    background-color: #fff;
    border-radius: 25px;
}
.start::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 25px;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #319073 50%, transparent 50%);
    background-size: 200% 100%;
    transition: background-position 240s linear;
    border-radius: 20px;
    animation: timerDecrease 240s linear infinite;
}


@keyframes timerDecrease {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.quiz__next {
    width: 100%;
    border: 1px solid #206a53;
    padding: 15px 25px;
    background-color: #4b9d83;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s;
}
.quiz__next:hover {
    background-color: #52b998
}
.quiz__indicator {
    background-color: rgba(109, 178, 247, 0.146);
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
}
.quiz__indicator span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #123;
    box-shadow: 1px 1px #123;
}
.quiz__indicator span.correct {
    background-color: #123;
    position: relative;
}
.quiz__indicator span.correct::before {
    content: '';
    width: 8px;
    height: 8px;
    border: 4px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: 1px;
    top: 1px;
}
.quiz__indicator span.incorrect {
    position: relative;
}
.quiz__indicator span.incorrect::before {
    content: '';
    position: absolute;
    left: 2px;
    top: 7px;
    width: 14px;
    height: 4px;
    border-radius: 4px;
    background-color: #123;
    transform: rotate(-45deg);
}
.quiz__indicator span.incorrect::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 7px;
    width: 14px;
    height: 4px;
    border-radius: 4px;
    background-color: #123;
    transform: rotate(45deg);
}

.quiz__check {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 100px;
    line-height: 100px;
    height: 100px;background-color: #123;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    border: 1px dashed transparent;
}
.quiz__check:hover {
    background-color: rgba(17, 34, 51, 0.748);
    border: 1px dashed #123;
}
/* footer */
#footer {
    text-align: center;
    font-size: 14px;
    height: 100px;
    /* position: relative; */
    width: 500px;
    margin: 0 auto;
}
