/* font */
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 300;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 400;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 700;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 800;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 900;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.ttf') format("truetype");
    font-display: swap;
}

/* common */
* {
    font-family: "NanumSquareNeo";
    font-size: 16px;
}
.none {
    display: none;
}

/* index */
body {
    background-color: #59D5A2;
}
.wrap {
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}
.quiz__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.quiz__text {
    width: 500px;
    height: 500px;
    color: #fff;
    
}
.quiz__text h1{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.quiz__text p {
    font-size: 5.8rem;
    white-space: pre-line;
    margin-bottom: 50px;
    font-weight: 300;
}
.quiz__btn {
    display: flex;
    justify-content: center;
}
.quiz__start {
    width: 415px;
    height: 100px;
    border-radius: 50px;
    color: #59D5A2;
    cursor: pointer;
    align-items: center;
}
.quiz__start a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    font-weight: 800;

}
#footer {
    width: 100%;
    height: 50px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 0;
}
@media(max-width: 1280px){
    .container {
        width: 95%;
    }
}
@media(max-width: 600px){
    .quiz__text {
        width: 400px;
        height: 400px;
    }
    .quiz__text h1 {
        font-size: 1.3rem;
    }
    .quiz__text p {
        font-size: 4.5rem;
    }
    .quiz__start {
        width: 315px;
        height: 80px;
    }
    .quiz__start a {
        font-size: 1.8rem;
    }
}
@media(max-width: 400px){
    .quiz__text {
        width: 300px;
        height: 300px;
    }
    .quiz__text h1 {
        font-size: 1rem;
    }
    .quiz__text p {
        font-size: 3.5rem;
    }
    .quiz__start {
        width: 215px;
        height: 60px;
    }
    .quiz__start a {
        font-size: 1.4rem;
    }
}