/* btn__Style2 */
.btn__style2 {
    display: block;
    background-color: var(--black400);
    color: var(--white);
    font-size: 1rem;
    border-radius: 7px;
    padding: 0.8rem 1.2rem;
    margin: 0 auto;
}
.bw__btn__style {
    display: inline-block;
    width: 80px;
    height: 35px;
    line-height: 35px;
    color: var(--black100);
    background-color: var(--white);
    border: 1px solid var(--black400);
    cursor: pointer;
}

.board__inner {
    margin-top: 60px;
}
/* board__top */
.board__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}
.board__top h2 {
    font-size: 20px;
    font-weight: 900;
}


/* board__search */
.search__bar {
    width: 100%;
    height: 50px;
    border: solid 1px #D2D2D7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 1;
    margin-bottom: 130px;
}
.search__bar input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: left;
    margin-left: 10px;
    overflow: auto;
}
.search__bar input:focus {
    outline: none;
    width: 100%;
    text-align: left;
}

/* board__pages */
.board__pages ul {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.board__pages .prev {
    position: relative;
    margin-left: 30px;
}
.board__pages .prev::before {
    content: '<';
    width: 25px;
    height: 25px;
    border: 1px solid var(--black400);
    color: var(--blue100);
    font-weight: 900;
    position: absolute;
    left: -30px;
    text-align: center;
    cursor: pointer;

}
.board__pages .next {
    position: relative;
    margin-right: 30px;
}
.board__pages .next::before {
    content: '>';
    width: 25px;
    height: 25px;
    border: 1px solid var(--black400);
    color: var(--blue100);
    font-weight: 900;
    position: absolute;
    right: -30px;
    text-align: center;
    cursor: pointer;

}


/* board__table */
.board__table {
    text-align: left;
}
.board__table tbody tr.fG td {
    color: var(--black400);
    font-size: 0.8rem;
}
@media(max-width: 1100px){
    .board__table tbody tr.fG td {
        font-size: 0.7rem;
    }
}
/* 테스트 중 */
.board__table table{ 
    border-collapse: separate;
    border-spacing: 10px 10px;
}
/* .board__table tbody tr.trPb td {
    height: 20px;
} */
.board__table tbody tr td img {
    width: 35px;
}


/* boardView */
.board__View {
    text-align: left;
}
.board__View tr:first-child img {
    width: 32px;
}
.board__View tr:first-child em {
    color: var(--black400);
}
.board__View tr:nth-child(2) td {
    font-size: 0.8rem;
}
.board__View tr.trPb td {
    padding-bottom: 20px;
}
.board__View .content__Title {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 900;
}
.board__View .board_cotent {
    height: 500px;
    line-height: 1.8rem;
    vertical-align: top;
}
.board__View .board_cotent img {
    max-width: 1280px;
    margin-bottom: 1rem;
}
.board__View .trDay{
    color: var(--black400);
}

.board__btns {
    width: 100%;
    display: flex;
    justify-content: left;
    margin: 10px 0 10px 0;
}
.board__btns .btn__style,
.board__btns .btn__style2 {
    margin: 0;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
}
.board__btns .btn__style2 {
    margin-left: 10px;
}

/* board__pages2 */
.board__pages2 {
    margin-bottom: 3rem;
}
.board__pages2 ul {
    display: flex;
    justify-content: center;
}
.board__pages2 ul li {
    padding: 0 8px 0 8px;
    font-weight: 700;
}
.board__pages2 .pages2__select {
    position: relative;
}
.board__pages2 .pages2__select::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 25px;
    border: 1px solid var(--black400);
    border-radius: 8px;
    top: 0;
    left: 3px;
}
.board__pages2 .first,
.board__pages2 .prev,
.board__pages2 .next,
.board__pages2 .last {
    color: var(--black400);
}

/* boardWrite */
.bw__boardTitle {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}
.bw__boardTitle label {
    width: 5%;
    font-size: 1.5rem;
    text-align-last: left;
}
.bw__boardTitle__input {
    width: 95%;
    height: 33px;
    border-bottom: 1px solid var(--black400);
    box-sizing: border-box;
}
.bw__boardTitle input {
    width: 100%;
    height: 32px;
    font-size: 1rem;
    border: 0;
    z-index: 1;
    position: relative;
}
.bw__boardTitle input:focus {
    border: 0;
    outline: 0;
}

.bw__boardCont {
    width: 100%;
    display: flex;
}
.bw__boardCont label {
    width: 5%;
    font-size: 1.5rem;
    display: block;
    text-align: left;
}

.bw__textarea {
    border: 1px solid var(--black400);
    width: 95%;
    margin-bottom: 1rem;
}
.bw__boardCont textarea {
    width: 100%;
    height: 100%;
    border: 0;
    overflow-y: auto;
    resize: none;
    font-size: 1rem;
}
.bw__boardCont textarea:focus {
    outline: 0;
}
.board__btns {
    display: flex;
    justify-content: left;
    margin-top: 3rem;
    margin-bottom: 6rem;
    padding-bottom: 6rem;
    border-bottom: 1px solid var(--black400);
}
.bw__boardFile {
    display: flex;
    align-items: center;
}
.bw__boardFile label {
    font-size: 1.5rem;
    display: block;
    text-align: left;
    margin-right: 1rem;
}
.bw__boardFile p {
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: var(--blue100);
    font-weight: 700;
}

/* bw__category */
.bw__category {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}
.bw__category label {
    width: 8%;
    font-size: 1.5rem;
    display: block;
    text-align: left;
}
.bw__category select {
    width: 10%;
    text-align: center;
    font-size: 1rem;
}
@media (max-width: 1280px){
    .container {
        width: 95%;
    }
}
@media(max-width: 1100px){
    .bw__boardTitle label,
    .bw__boardCont label {
        font-size: 1rem;
    }
}