#wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: "NanumSquareNeo";
}
.container {
    width: 1280px;
    height: inherit;
    margin: 0 auto;
    text-align: center;
}
.container2 {
    width: 980px;
    height: inherit;
    margin: 0 auto;
    text-align: center;
}
.container3 {
    width: 980px;
    height: inherit;
    margin: 0 auto;
    text-align: center;
}


/* required */
.required::after {
    content: ' *';
    color: var(--red);
    position: absolute;
}

/* btn__style */
.btn__style {
    display: block;
    background-color: var(--blue100);
    color: var(--white);
    font-size: 1rem;
    border-radius: 7px;
    padding: 0.8rem 1.2rem;
    margin: 0 auto;
    cursor: pointer;
}
.btn__style2 {
    display: block;
    background-color: var(--black400);
    color: var(--white);
    font-size: 1rem;
    border-radius: 7px;
    padding: 0.8rem 1.2rem;
    margin: 0 auto;
}
.btn__style3 {
    display: inline-block;
    background-color: var(--blue100);
    color: var(--white);
    font-size: 1rem;
    width: 150px;
    border-radius: 200px !important;
    padding: 0.8rem 1.2rem;
    margin: 0 auto;
    cursor: pointer;
}

/* line__style */
.line_-style1 {
    border-bottom: 1px solid #D6D6D6;
}