<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JUST 쇼핑몰</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="wrap ">
        <div class="container">
            <header id="header">
                <h1 class="logo">
                    <a href="#">JUST 쇼핑몰</a>
                </h1>
                <nav class="nav">
                    <ul>
                        <li><a href="#">탑</a>
                            <ul class="submenu">
                                <li><a href="#">블라우스</a></li>
                                <li><a href="#">티</a></li>
                                <li><a href="#">셔츠</a></li>
                                <li><a href="#">니트</a></li>
                            </ul>
                        </li>
                        <li><a href="#">아우터</a>
                            <ul class="submenu">
                                <li><a href="#">자켓</a></li>
                                <li><a href="#">코트</a></li>
                                <li><a href="#">가디건</a></li>
                                <li><a href="#">머플러</a></li>
                            </ul>
                        </li>
                        <li><a href="#">팬츠</a>
                            <ul class="submenu">
                                <li><a href="#">청바지</a></li>
                                <li><a href="#">짧은바지</a></li>
                                <li><a href="#">긴바지</a></li>
                                <li><a href="#">레깅스</a></li>
                            </ul>
                        </li>
                        <li><a href="">악세사리</a>
                            <ul class="submenu">
                                <li><a href="#">귀고리</a></li>
                                <li><a href="#">목걸이</a></li>
                                <li><a href="#">반지</a></li>
                                <li><a href="#">팔찌</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>
            <main id="main">
                <div class="slider__inner">
                    <div class="slider">
                        <img src="assets/img/Rectangle 6.jpg" alt="사진1">
                    </div>
                    <div class="slider">
                        <img src="assets/img/Rectangle 7.jpg" alt="사진2">
                    </div>
                    <div class="slider">
                        <img src="assets/img/Rectangle 8.jpg" alt="사진3">
                    </div>
                </div>
                <div class="main__footer">
                    <div class="notice">
                        <h3>
                            <a href="#">공지사항</a>
                            <a href="#">갤러리</a>
                        </h3>
                        <ul>
                            <li class="active"><a href="#">공지사항</a>
                                <ul class="submenu">
                                    <li><a href="#">게시글1 게시글1 게시글1 게시글1</a></li>
                                    <li><a href="#">게시글2</a></li>
                                    <li><a href="#">게시글3</a></li>
                                    <li><a href="#">게시글4</a></li>
                                </ul>
                            </li>
                            <li><a href="">갤러리</a>
                                <ul class="submenu blind">
                                    <li>
                                        <a href="#">
                                            <img src="" alt="사진1">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="" alt="사진2">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="" alt="사진3">
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="baner">
                        <div class="text">
                            <h2>가을 신상 아우터</h2>
                            <span>50%<em>~</em></span>
                        </div>
                        <img src="assets/img/1d4148269847ee266e46d1dce340be7c.jpg" alt="아우터">
                    </div>
                    <div class="link">
                        <select name="link" id="link">
                            <option value="link1">link1</option>
                            <option value="link2">link2</option>
                            <option value="link3">link3</option>
                        </select>
                    </div>
                </div>
            </main>
            <footer id="footer">
                <div class="footer__1">
                    <h2>JUST 쇼핑몰</h2>
                </div>
                <div class="footer__2">
                    ⓒ 2023 JUST쇼핑몰
                </div>
                <div class="footer__3">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 24 24">
                            <g>
                                <path
                                    d="M18.437,20.937H5.563a2.5,2.5,0,0,1-2.5-2.5V5.563a2.5,2.5,0,0,1,2.5-2.5H18.437a2.5,2.5,0,0,1,2.5,2.5V18.437A2.5,2.5,0,0,1,18.437,20.937ZM5.563,4.063a1.5,1.5,0,0,0-1.5,1.5V18.437a1.5,1.5,0,0,0,1.5,1.5H18.437a1.5,1.5,0,0,0,1.5-1.5V5.563a1.5,1.5,0,0,0-1.5-1.5Z" />
                                <path
                                    d="M12,16.594A4.595,4.595,0,1,1,16.6,12,4.6,4.6,0,0,1,12,16.594ZM12,8.4A3.595,3.595,0,1,0,15.6,12,3.6,3.6,0,0,0,12,8.4Z" />
                                <circle cx="17.2" cy="6.83" r="1.075" />
                            </g>
                        </svg>
                    </a>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 24 24">
                            <path
                                d="M19.02,4.975A9.93,9.93,0,0,0,2.07,12,9.935,9.935,0,0,0,12,21.935a9.98,9.98,0,0,0,3.8-.75,10.189,10.189,0,0,0,3.22-2.16,9.934,9.934,0,0,0,0-14.05Zm-.7,13.34A8.921,8.921,0,0,1,13,20.885v-6.56h1.88a1,1,0,0,0,0-2H13V9.585a1,1,0,0,1,1-1h1.2a1,1,0,0,0,0-2H13.5a2.5,2.5,0,0,0-2.5,2.5v3.24H9.13a1,1,0,1,0,0,2H11v6.56a8.919,8.919,0,1,1,9.26-5.47A9.061,9.061,0,0,1,18.32,18.315Z" />
                        </svg>
                    </a>
                </div>
            </footer>
        </div>
    </div>
    <script src="assets/script/jquery_min.js"></script>
    <script>
        $(function () {
            // 슬라이드
            let currentIndex = 0;
            $(".slider__inner").append($(".slider").first().clone(true));
            setInterval(() => {
                currentIndex++;
                $(".slider__inner").animate({ marginLeft: -100 * currentIndex + "%" });
                if (currentIndex == 3) {
                    setTimeout(() => {
                        $(".slider__inner").animate({marginLeft:0}, 0);
                        currentIndex = 0;
                    }, 600);
                }
            }, 3000);


            // 메뉴
            $(".nav > ul > li").mouseover(function () {
                $(".nav > ul > li > ul").stop().slideDown();
            })
            $(".nav > ul > li").mouseout(function () {
                $(".nav > ul > li > ul").stop().slideUp();
            })
        });
    </script>
</body>

</html>